SUPABASE_URL=https://flxdnlrjcslcaczsyhmm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZseGRubHJqY3NsY2FjenN5aG1tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMjQxODcsImV4cCI6MjA4NzcwMDE4N30.pg-oUwoXexgq7rVe79KWZ7DqC0yG0VTV_ggw93hooHA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZseGRubHJqY3NsY2FjenN5aG1tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjEyNDE4NywiZXhwIjoyMDg3NzAwMTg3fQ.9KIogtoir3ZGKj27uF0hwkd8C2hrpEA-wQ6gZn48o48

DEFAULT_REDIRECT_URL=https://t.me/+9VtTr8goSaU3ZGRk
DEFAULT_REDIRECT_STATUS=302

ADMIN_PASSWORD=Abdssamed213
AUTH_SECRET=replace-with-a-very-long-random-secret-32-chars-min
TRACKING_TOKEN_SECRET=replace-with-a-very-long-random-secret-16-chars-min
IP_HASH_SALT=replace-with-another-random-secret-16-chars-min
COUNT_HEAD_VISITS=false
